<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="customerForm" (submit)="onSubmit()">
      <div class="row" style="margin-bottom: 10px">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!customerForm.valid">Save</button>
          <button type="button" class="btn btn-danger" style="margin-left: 5px" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="code">Code</label>
            <input type="number" id="code" class="form-control" formControlName="code" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" class="form-control" formControlName="address" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="gender">Gender</label>
            <input type="text" id="gender" class="form-control" formControlName="gender" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="accNumber">Account Number</label>
            <input type="number" id="accNumber" class="form-control" formControlName="accountNumber" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="contractDate">Contract Date</label>
            <input type="text" id="contractDate" class="form-control" formControlName="contractDate" />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
